{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div id="connexion-root">
        <form method="post" class="connexion-page-container-mobile">
            <h1 class="title">Connexion</h1>

            <div class="field-container">
                <label for="inputUsername" class="label-connexion-mobile">
                    <span class="labels">Adresse mail</span>
                    <input
                        type="text"
                        name="username"
                        id="inputUsername"
                        class="form-control"
                        autocomplete="username"
                        required
                        autofocus
                        value="{{ last_username }}"
                    >
                </label>

                <label for="inputPassword" class="label-connexion-mobile">
                    <span class="labels">Mot de passe</span>
                    <input
                        type="password"
                        name="password"
                        id="inputPassword"
                        class="form-control"
                        autocomplete="current-password"
                        required
                    >
                    <a href="/password-recovery">J'ai oublié mon mot de passe</a>
                </label>

                <input
                    type="hidden"
                    name="_csrf_token"
                    data-controller="csrf-protection"
                    value="{{ csrf_token('authenticate') }}"
                >

                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>

            </div>

            <button class="button" type="submit">
                Connexion
            </button>
        </form>
    </div>


{% endblock %}
