{% extends 'base.html.twig' %}

{% block title %}Hello ConnexionController!{% endblock %}

{% block body %}

    <div id="connexion-root"></div>
    {{ encore_entry_script_tags('app') }}

{% endblock %}
