{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
    <div id="profil-root" data-props='{{ user|json_encode|e('html_attr')}}'></div>
{% endblock %}
