.left-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 95vh;
}

.div-leaf-it-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leaf-it-icon-menu {
    width: 80px;
    height: 80px;
}

.leaf-it-title-menu {
    font-size: 64px;
    margin: 0;
}