// Fichier rassemblant les styles globaux a l'application

@import '/assets/styles/variables';

html, body {
    min-height: calc(100vh - 160px);
    margin: 0;
    padding: 0;
}

body {
    padding: 80px 0;
    margin: 0;
    font-family: Inter, sans-serif;
    color: $dark-green;
}

#connexion-root, #inscription-root, #password-recovery-root, #new-leaf-root {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: calc(100vh - 160px);
    width: 100%;
    margin: 0;
}

.credential-form {
    margin-block: 64px;
}

.title {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.labels {
    font-weight: bold;
    font-size: 16px;

}

// Base pour tous les boutons
.button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 64px;
    min-width: 256px;

    background-color: $green;
    border-radius: 32px;

    color: white;

    font-weight: bold;
    font-size: 20px;

    border: none;
}

.button:hover {
    cursor: pointer;

    background: $light-green;
    color: $green;

    transition-duration: 0.25s;
}

// Classe pour les div qui afficheront les leaf
.card-post {
    background-color: $light-green;
    border-radius: 32px;
    padding: 16px;
    margin: auto;
}


input {
    border: none;
    background-color: $light-green;
}

@media screen and (max-width: 640px) {
    .title {
        font-size: 32px;
    }
    .button {
        border-radius: 32px;
    }
}

.bold-text {
    font-weight: bold;
}

.dark-green-text {
    color: $dark-green;
}

.display-flex {
    display: flex;
}

.display-flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

a {
    color: $dark-green;
    text-decoration: none;
}
