// Fichier rassemblant les variables css du projet

//Couleurs
$light-green: #EDF8ED;
$green: #8EDE8E;
$dark-green: #50AA5B; //Notre couleur principale
$grey: #7B7A7A;
$black: #252525;
$white: #FFFFFF;
